h1 {
    font-family: Monotype Corsiva;
    position: relative;
    display: inline-block;
    padding: 0 55px;
}
  
h1:before, h1:after {
  content: '';
  position: absolute;
  top: 50%;
  display: inline-block;
  width: 45px;
  height: 1px;
  background-color: black;
}
  
h1:before {
  left:0;
}
h1:after {
  right: 0;
}

h2 {
  position: relative;
  padding: 0.25em 1em;
  border-top: solid 2px black;
  border-bottom: solid 2px black;
  font-size: 30px;
}
h2:before, h2:after {
  content: '';
  position: absolute;
  top: -7px;
  width: 2px;
  height: -webkit-calc(100% + 14px);
  height: calc(100% + 14px);
  background-color: black;
}
h2:before {
  left: 7px;
}
h2:after {
  right: 7px;
}

h3{
  font-family: Monotype Corsiva;
  text-align: center;
  font-size: 150px;
}

h5{
  font-family: Monotype Corsiva;
  font-weight: bold;
}

a{
  color: #4F3E2B;
  text-decoration: none;
}
a:hover {
  color:#000000;
}

.fixed_btn
{
  position: fixed;
  bottom: 10px; 
  right: 10px;
  padding: 6px 40px;
}

backimg{
  background-size: cover;
}

.divFlo{clear: both;}

.mar{margin: 15px 0px;}

.marh{margin: 20px 0px;}

.marCenter{
  margin-left: auto;
  margin-right: auto;
}

.tagfont{
  font-family: Yu Mincho;
  font-size: 30px;
  line-height: 2.0em;
}



.animate__animated.animate__fadeIn {
  --animate-duration: 3s;
}

.circle{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: skyblue;/*背景色*/
}

@media (max-width: 1024px) {
  /* 横幅が320px以下の場合に適用するスタイル */
  div#sidebar { width: 100%; }
}
@media (min-width: 1300px) {
  /* 横幅が800px以上の場合に適用するスタイル */
  div#sidebar { width: 240px }
}